backend/api-service/node-red-data/.flows.json.backup
[
    {
        "id": "tab_shelters",
        "type": "tab",
        "label": "Shelters API",
        "disabled": false,
        "info": "API REST para gestión de albergues"
    },
    {
        "id": "tab_refugees",
        "type": "tab",
        "label": "Refugees API",
        "disabled": false,
        "info": "API REST para gestión de refugiados"
    },
    {
        "id": "tab_families",
        "type": "tab",
        "label": "Families API",
        "disabled": false,
        "info": "API REST para gestión de familias"
    },
    {
        "id": "tab_assignments",
        "type": "tab",
        "label": "Assignments API",
        "disabled": false,
        "info": "API REST para gestión de asignaciones"
    },
    {
        "id": "tab_ai_integration",
        "type": "tab",
        "label": "AI Integration",
        "disabled": false,
        "info": "Integración con el servicio de IA para asignación automática de refugios"
    },
    {
        "id": "301245f94e1239d9",
        "type": "postgreSQLConfig",
        "name": "ShelterAI DB",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "shelterai",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "root",
        "userFieldType": "str",
        "password": "root",
        "passwordFieldType": "str"
    },
    {
        "id": "shelter_get_all",
        "type": "http in",
        "z": "tab_shelters",
        "name": "GET /api/shelters",
        "url": "/api/shelters",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "shelter_get_all_query"
            ]
        ]
    },
    {
        "id": "shelter_get_all_query",
        "type": "postgresql",
        "z": "tab_shelters",
        "name": "Query All Shelters",
        "query": "SELECT * FROM shelters ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "shelter_response"
            ]
        ]
    },
    {
        "id": "shelter_get_by_id",
        "type": "http in",
        "z": "tab_shelters",
        "name": "GET /api/shelters/:id",
        "url": "/api/shelters/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "shelter_get_by_id_prepare"
            ]
        ]
    },
    {
        "id": "shelter_get_by_id_prepare",
        "type": "function",
        "z": "tab_shelters",
        "name": "Prepare Query",
        "func": "msg.queryParameters = [parseInt(msg.req.params.id)];\nmsg.payload = \"SELECT * FROM shelters WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "shelter_get_by_id_query"
            ]
        ]
    },
    {
        "id": "shelter_get_by_id_query",
        "type": "postgresql",
        "z": "tab_shelters",
        "name": "Query Shelter",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "shelter_single_response"
            ]
        ]
    },
    {
        "id": "shelter_get_available",
        "type": "http in",
        "z": "tab_shelters",
        "name": "GET /api/shelters/available",
        "url": "/api/shelters/available",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "shelter_get_available_query"
            ]
        ]
    },
    {
        "id": "shelter_get_available_query",
        "type": "postgresql",
        "z": "tab_shelters",
        "name": "Query Available",
        "query": "SELECT * FROM shelters WHERE current_occupancy < max_capacity ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "shelter_response"
            ]
        ]
    },
    {
        "id": "shelter_post",
        "type": "http in",
        "z": "tab_shelters",
        "name": "POST /api/shelters",
        "url": "/api/shelters",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "shelter_post_prepare"
            ]
        ]
    },
    {
        "id": "shelter_post_prepare",
        "type": "function",
        "z": "tab_shelters",
        "name": "Prepare Insert",
        "func": "const data = msg.payload;\nmsg.queryParameters = [\n    data.name, data.address, data.phone_number, data.email,\n    data.max_capacity, data.current_occupancy || 0,\n    data.has_medical_facilities || false, data.has_childcare || false,\n    data.has_disability_access || false, data.languages_spoken,\n    data.latitude, data.longitude, data.shelter_type, data.services_offered\n];\nmsg.payload = `INSERT INTO shelters (name, address, phone_number, email, max_capacity, current_occupancy, has_medical_facilities, has_childcare, has_disability_access, languages_spoken, latitude, longitude, shelter_type, services_offered, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "shelter_post_query"
            ]
        ]
    },
    {
        "id": "shelter_post_query",
        "type": "postgresql",
        "z": "tab_shelters",
        "name": "Insert Shelter",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "shelter_created_response"
            ]
        ]
    },
    {
        "id": "shelter_put",
        "type": "http in",
        "z": "tab_shelters",
        "name": "PUT /api/shelters/:id",
        "url": "/api/shelters/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "shelter_put_prepare"
            ]
        ]
    },
    {
        "id": "shelter_put_prepare",
        "type": "function",
        "z": "tab_shelters",
        "name": "Prepare Update",
        "func": "const data = msg.payload;\nconst id = parseInt(msg.req.params.id);\nmsg.queryParameters = [\n    data.name, data.address, data.phone_number, data.email,\n    data.max_capacity, data.current_occupancy,\n    data.has_medical_facilities, data.has_childcare,\n    data.has_disability_access, data.languages_spoken,\n    data.latitude, data.longitude, data.shelter_type, data.services_offered, id\n];\nmsg.payload = `UPDATE shelters SET name=$1, address=$2, phone_number=$3, email=$4, max_capacity=$5, current_occupancy=$6, has_medical_facilities=$7, has_childcare=$8, has_disability_access=$9, languages_spoken=$10, latitude=$11, longitude=$12, shelter_type=$13, services_offered=$14, updated_at=CURRENT_TIMESTAMP WHERE id=$15 RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "shelter_put_query"
            ]
        ]
    },
    {
        "id": "shelter_put_query",
        "type": "postgresql",
        "z": "tab_shelters",
        "name": "Update Shelter",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "shelter_single_response"
            ]
        ]
    },
    {
        "id": "shelter_delete",
        "type": "http in",
        "z": "tab_shelters",
        "name": "DELETE /api/shelters/:id",
        "url": "/api/shelters/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "shelter_delete_prepare"
            ]
        ]
    },
    {
        "id": "shelter_delete_prepare",
        "type": "function",
        "z": "tab_shelters",
        "name": "Prepare Delete",
        "func": "msg.queryParameters = [parseInt(msg.req.params.id)];\nmsg.payload = \"DELETE FROM shelters WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "shelter_delete_query"
            ]
        ]
    },
    {
        "id": "shelter_delete_query",
        "type": "postgresql",
        "z": "tab_shelters",
        "name": "Delete Shelter",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "shelter_delete_response"
            ]
        ]
    },
    {
        "id": "shelter_response",
        "type": "function",
        "z": "tab_shelters",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = msg.payload || [];\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "shelter_http_response"
            ]
        ]
    },
    {
        "id": "shelter_single_response",
        "type": "function",
        "z": "tab_shelters",
        "name": "Format Single",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    msg.statusCode = 200;\n    msg.payload = msg.payload[0];\n} else {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Shelter not found\" };\n}\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "shelter_http_response"
            ]
        ]
    },
    {
        "id": "shelter_created_response",
        "type": "function",
        "z": "tab_shelters",
        "name": "Format Created",
        "func": "msg.statusCode = 201;\nmsg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "shelter_http_response"
            ]
        ]
    },
    {
        "id": "shelter_delete_response",
        "type": "function",
        "z": "tab_shelters",
        "name": "Format Delete",
        "func": "msg.statusCode = 204;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "shelter_http_response"
            ]
        ]
    },
    {
        "id": "shelter_http_response",
        "type": "http response",
        "z": "tab_shelters",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "refugee_get_all",
        "type": "http in",
        "z": "tab_refugees",
        "name": "GET /api/refugees",
        "url": "/api/refugees",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "refugee_get_all_query"
            ]
        ]
    },
    {
        "id": "refugee_get_all_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Query All Refugees",
        "query": "SELECT * FROM refugees ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "refugee_response",
                "35f3ec724bd95540"
            ]
        ]
    },
    {
        "id": "refugee_get_by_id",
        "type": "http in",
        "z": "tab_refugees",
        "name": "GET /api/refugees/:id",
        "url": "/api/refugees/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "refugee_get_by_id_prepare"
            ]
        ]
    },
    {
        "id": "refugee_get_by_id_prepare",
        "type": "function",
        "z": "tab_refugees",
        "name": "Prepare Query",
        "func": "const data = msg.payload;\n\nmsg.topic = `INSERT INTO refugees (first_name, last_name, age, gender, nationality, languages_spoken, family_id, medical_conditions, has_disability, special_needs, vulnerability_score, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\n\nmsg.params = [\n    parseInt(msg.req.params.id)\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "refugee_get_by_id_query"
            ]
        ]
    },
    {
        "id": "refugee_get_by_id_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Query Refugee",
        "query": "{{msg.topic}}",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "refugee_single_response"
            ]
        ]
    },
    {
        "id": "refugee_get_by_family",
        "type": "http in",
        "z": "tab_refugees",
        "name": "GET /api/refugees/family/:familyId",
        "url": "/api/refugees/family/:familyId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "refugee_get_by_family_prepare"
            ]
        ]
    },
    {
        "id": "refugee_get_by_family_prepare",
        "type": "function",
        "z": "tab_refugees",
        "name": "Prepare Query",
        "func": "msg.queryParameters = [parseInt(msg.req.params.familyId)];\nmsg.payload = \"SELECT * FROM refugees WHERE family_id = $1 ORDER BY id\";\nreturn msg;",
        "outputs": 1,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "refugee_get_by_family_query"
            ]
        ]
    },
    {
        "id": "refugee_get_by_family_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "refugee_response"
            ]
        ]
    },
    {
        "id": "refugee_get_high_vulnerability",
        "type": "http in",
        "z": "tab_refugees",
        "name": "GET /api/refugees/high-vulnerability",
        "url": "/api/refugees/high-vulnerability",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "refugee_get_high_vuln_prepare"
            ]
        ]
    },
    {
        "id": "refugee_get_high_vuln_prepare",
        "type": "function",
        "z": "tab_refugees",
        "name": "Prepare Query",
        "func": "const minScore = parseFloat(msg.req.query.minScore) || 7.0;\nmsg.queryParameters = [minScore];\nmsg.payload = \"SELECT * FROM refugees WHERE vulnerability_score >= $1 ORDER BY vulnerability_score DESC\";\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "refugee_get_high_vuln_query"
            ]
        ]
    },
    {
        "id": "refugee_get_high_vuln_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "refugee_response"
            ]
        ]
    },
    {
        "id": "refugee_post",
        "type": "http in",
        "z": "tab_refugees",
        "name": "POST /api/refugees",
        "url": "/api/refugees",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "refugee_post_prepare"
            ]
        ]
    },
    {
        "id": "refugee_post_prepare",
        "type": "function",
        "z": "tab_refugees",
        "name": "Prepare Insert",
        "func": "const data = msg.payload;\n\nmsg.topic = `INSERT INTO refugees (first_name, last_name, age, gender, nationality, languages_spoken, family_id, medical_conditions, has_disability, special_needs, vulnerability_score, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\n\nmsg.params = [\n    data.first_name, \n    data.last_name, \n    data.age, \n    data.gender,\n    data.nationality, \n    data.languages_spoken, \n    data.family_id,\n    data.medical_conditions,\n    data.has_disability,\n    data.special_needs, \n    data.vulnerability_score || 0\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "refugee_post_query"
            ]
        ]
    },
    {
        "id": "refugee_post_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Insert Refugee",
        "query": "{{msg.topic}}",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "refugee_created_response",
                "c9f9b61729708a1f"
            ]
        ]
    },
    {
        "id": "refugee_put",
        "type": "http in",
        "z": "tab_refugees",
        "name": "PUT /api/refugees/:id",
        "url": "/api/refugees/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "refugee_put_prepare"
            ]
        ]
    },
    {
        "id": "refugee_put_prepare",
        "type": "function",
        "z": "tab_refugees",
        "name": "Prepare Update",
        "func": "const data = msg.payload;\nconst id = parseInt(msg.req.params.id);\nmsg.queryParameters = [\n    data.first_name, data.last_name, data.age, data.gender,\n    data.nationality, data.languages_spoken, data.phone_number,\n    data.email, data.family_id, data.medical_conditions,\n    data.special_needs, data.vulnerability_score,\n    data.education_level, data.employment_status, data.registration_date, id\n];\nmsg.payload = `UPDATE refugees SET first_name=$1, last_name=$2, age=$3, gender=$4, nationality=$5, languages_spoken=$6, phone_number=$7, email=$8, family_id=$9, medical_conditions=$10, special_needs=$11, vulnerability_score=$12, education_level=$13, employment_status=$14, registration_date=$15, updated_at=CURRENT_TIMESTAMP WHERE id=$16 RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "refugee_put_query"
            ]
        ]
    },
    {
        "id": "refugee_put_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Update Refugee",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "refugee_single_response"
            ]
        ]
    },
    {
        "id": "refugee_delete",
        "type": "http in",
        "z": "tab_refugees",
        "name": "DELETE /api/refugees/:id",
        "url": "/api/refugees/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "refugee_delete_prepare"
            ]
        ]
    },
    {
        "id": "refugee_delete_prepare",
        "type": "function",
        "z": "tab_refugees",
        "name": "Prepare Delete",
        "func": "msg.queryParameters = [parseInt(msg.req.params.id)];\nmsg.payload = \"DELETE FROM refugees WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "refugee_delete_query"
            ]
        ]
    },
    {
        "id": "refugee_delete_query",
        "type": "postgresql",
        "z": "tab_refugees",
        "name": "Delete Refugee",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "refugee_delete_response",
                "0f71a093d5abb7e6"
            ]
        ]
    },
    {
        "id": "refugee_response",
        "type": "function",
        "z": "tab_refugees",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = msg.payload || [];\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "refugee_http_response"
            ]
        ]
    },
    {
        "id": "refugee_single_response",
        "type": "function",
        "z": "tab_refugees",
        "name": "Format Single",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    msg.statusCode = 200;\n    msg.payload = msg.payload[0];\n} else {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Refugee not found\" };\n}\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "refugee_http_response"
            ]
        ]
    },
    {
        "id": "refugee_created_response",
        "type": "function",
        "z": "tab_refugees",
        "name": "Format Created",
        "func": "msg.statusCode = 201;\nmsg.payload = msg.payload[0] || msg.payload; \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "refugee_http_response"
            ]
        ]
    },
    {
        "id": "refugee_delete_response",
        "type": "function",
        "z": "tab_refugees",
        "name": "Format Delete",
        "func": "msg.statusCode = 204;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 440,
        "wires": [
            [
                "refugee_http_response"
            ]
        ]
    },
    {
        "id": "refugee_http_response",
        "type": "http response",
        "z": "tab_refugees",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "c9f9b61729708a1f",
        "type": "debug",
        "z": "tab_refugees",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "35f3ec724bd95540",
        "type": "debug",
        "z": "tab_refugees",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "0f71a093d5abb7e6",
        "type": "debug",
        "z": "tab_refugees",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 649.2000122070312,
        "y": 522.2000122070312,
        "wires": []
    },
    {
        "id": "family_get_all",
        "type": "http in",
        "z": "tab_families",
        "name": "GET /api/families",
        "url": "/api/families",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "family_get_all_query"
            ]
        ]
    },
    {
        "id": "family_get_all_query",
        "type": "postgresql",
        "z": "tab_families",
        "name": "Query All Families",
        "query": "SELECT * FROM families ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "family_response"
            ]
        ]
    },
    {
        "id": "family_get_by_id",
        "type": "http in",
        "z": "tab_families",
        "name": "GET /api/families/:id",
        "url": "/api/families/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "family_get_by_id_prepare"
            ]
        ]
    },
    {
        "id": "family_get_by_id_prepare",
        "type": "function",
        "z": "tab_families",
        "name": "Prepare Query",
        "func": "msg.queryParameters = [parseInt(msg.req.params.id)];\nmsg.payload = \"SELECT * FROM families WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "family_get_by_id_query"
            ]
        ]
    },
    {
        "id": "family_get_by_id_query",
        "type": "postgresql",
        "z": "tab_families",
        "name": "Query Family",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "family_single_response"
            ]
        ]
    },
    {
        "id": "family_get_by_size",
        "type": "http in",
        "z": "tab_families",
        "name": "GET /api/families/size/:size",
        "url": "/api/families/size/:size",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "family_get_by_size_prepare"
            ]
        ]
    },
    {
        "id": "family_get_by_size_prepare",
        "type": "function",
        "z": "tab_families",
        "name": "Prepare Query",
        "func": "msg.queryParameters = [parseInt(msg.req.params.size)];\nmsg.payload = \"SELECT * FROM families WHERE family_size = $1 ORDER BY id\";\nreturn msg;",
        "outputs": 1,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "family_get_by_size_query"
            ]
        ]
    },
    {
        "id": "family_get_by_size_query",
        "type": "postgresql",
        "z": "tab_families",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "family_response"
            ]
        ]
    },
    {
        "id": "family_post",
        "type": "http in",
        "z": "tab_families",
        "name": "POST /api/families",
        "url": "/api/families",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "family_post_prepare"
            ]
        ]
    },
    {
        "id": "family_post_prepare",
        "type": "function",
        "z": "tab_families",
        "name": "Prepare Insert",
        "func": "const data = msg.payload;\nmsg.queryParameters = [\n    data.family_name, data.family_size, data.head_of_family_id, data.notes\n];\nmsg.payload = `INSERT INTO families (family_name, family_size, head_of_family_id, notes, created_at, updated_at) VALUES ($1, $2, $3, $4, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "family_post_query"
            ]
        ]
    },
    {
        "id": "family_post_query",
        "type": "postgresql",
        "z": "tab_families",
        "name": "Insert Family",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "family_created_response"
            ]
        ]
    },
    {
        "id": "family_put",
        "type": "http in",
        "z": "tab_families",
        "name": "PUT /api/families/:id",
        "url": "/api/families/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "family_put_prepare"
            ]
        ]
    },
    {
        "id": "family_put_prepare",
        "type": "function",
        "z": "tab_families",
        "name": "Prepare Update",
        "func": "const data = msg.payload;\nconst id = parseInt(msg.req.params.id);\nmsg.queryParameters = [\n    data.family_name, data.family_size, data.head_of_family_id, data.notes, id\n];\nmsg.payload = `UPDATE families SET family_name=$1, family_size=$2, head_of_family_id=$3, notes=$4, updated_at=CURRENT_TIMESTAMP WHERE id=$5 RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "family_put_query"
            ]
        ]
    },
    {
        "id": "family_put_query",
        "type": "postgresql",
        "z": "tab_families",
        "name": "Update Family",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "family_single_response"
            ]
        ]
    },
    {
        "id": "family_delete",
        "type": "http in",
        "z": "tab_families",
        "name": "DELETE /api/families/:id",
        "url": "/api/families/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "family_delete_prepare"
            ]
        ]
    },
    {
        "id": "family_delete_prepare",
        "type": "function",
        "z": "tab_families",
        "name": "Prepare Delete",
        "func": "msg.queryParameters = [parseInt(msg.req.params.id)];\nmsg.payload = \"DELETE FROM families WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "family_delete_query"
            ]
        ]
    },
    {
        "id": "family_delete_query",
        "type": "postgresql",
        "z": "tab_families",
        "name": "Delete Family",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "family_delete_response"
            ]
        ]
    },
    {
        "id": "family_response",
        "type": "function",
        "z": "tab_families",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = msg.payload || [];\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "family_http_response"
            ]
        ]
    },
    {
        "id": "family_single_response",
        "type": "function",
        "z": "tab_families",
        "name": "Format Single",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    msg.statusCode = 200;\n    msg.payload = msg.payload[0];\n} else {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Family not found\" };\n}\nreturn msg;",
        "outputs": 1,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "family_http_response"
            ]
        ]
    },
    {
        "id": "family_created_response",
        "type": "function",
        "z": "tab_families",
        "name": "Format Created",
        "func": "msg.statusCode = 201;\nmsg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "x": 780,
        "y": 260,
        "wires": [
            [
                "family_http_response"
            ]
        ]
    },
    {
        "id": "family_delete_response",
        "type": "function",
        "z": "tab_families",
        "name": "Format Delete",
        "func": "msg.statusCode = 204;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "family_http_response"
            ]
        ]
    },
    {
        "id": "family_http_response",
        "type": "http response",
        "z": "tab_families",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "assignment_get_all",
        "type": "http in",
        "z": "tab_assignments",
        "name": "GET /api/assignments",
        "url": "/api/assignments",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "assignment_get_all_query"
            ]
        ]
    },
    {
        "id": "assignment_get_all_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Query All Assignments",
        "query": "SELECT * FROM assignments ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "assignment_response"
            ]
        ]
    },
    {
        "id": "assignment_get_by_id",
        "type": "http in",
        "z": "tab_assignments",
        "name": "GET /api/assignments/:id",
        "url": "/api/assignments/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "assignment_get_by_id_prepare"
            ]
        ]
    },
    {
        "id": "assignment_get_by_id_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Query",
        "func": "var idRefugiado = (msg.req && msg.req.params && msg.req.params.id) || msg.payload || 1;\nvar idNumero = parseInt(idRefugiado);\n\nmsg.topic = `SELECT * FROM assignments WHERE refugee_id = $1 ORDER BY created_at DESC`;\n\nmsg.params = [\n    idNumero\n];\n\n// Pasamos los parámetros al payload para que el nodo Postgres los lea\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 720,
        "wires": [
            [
                "assignment_get_by_id_query",
                "9aafc1cfb84bc8c1"
            ]
        ]
    },
    {
        "id": "assignment_get_by_id_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Query Assignment",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 730,
        "y": 720,
        "wires": [
            [
                "5685489b661371a8",
                "assignment_http_response"
            ]
        ]
    },
    {
        "id": "assignment_get_by_refugee",
        "type": "http in",
        "z": "tab_assignments",
        "name": "GET /api/assignments/refugee/:refugeeId",
        "url": "/api/assignments/refugee/:refugeeId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "assignment_get_by_refugee_prepare"
            ]
        ]
    },
    {
        "id": "assignment_get_by_refugee_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Query",
        "func": "msg.params = [parseInt(msg.req.params.refugeeId)];\nmsg.topic = \"SELECT a.*, s.name as shelter_name FROM assignments a LEFT JOIN shelters s ON a.shelter_id = s.id WHERE a.refugee_id = $1 ORDER BY a.id DESC\";\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "assignment_get_by_refugee_query"
            ]
        ]
    },
    {
        "id": "assignment_get_by_refugee_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "assignment_response"
            ]
        ]
    },
    {
        "id": "assignment_get_by_shelter",
        "type": "http in",
        "z": "tab_assignments",
        "name": "GET /api/assignments/shelter/:shelterId",
        "url": "/api/assignments/shelter/:shelterId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "assignment_get_by_shelter_prepare"
            ]
        ]
    },
    {
        "id": "assignment_get_by_shelter_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Query",
        "func": "msg.queryParameters = [parseInt(msg.req.params.shelterId)];\nmsg.payload = \"SELECT * FROM assignments WHERE shelter_id = $1 ORDER BY id\";\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "assignment_get_by_shelter_query"
            ]
        ]
    },
    {
        "id": "assignment_get_by_shelter_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "assignment_response"
            ]
        ]
    },
    {
        "id": "assignment_get_by_status",
        "type": "http in",
        "z": "tab_assignments",
        "name": "GET /api/assignments/status/:status",
        "url": "/api/assignments/status/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "assignment_get_by_status_prepare"
            ]
        ]
    },
    {
        "id": "assignment_get_by_status_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Query",
        "func": "msg.queryParameters = [msg.req.params.status];\nmsg.payload = \"SELECT * FROM assignments WHERE status = $1 ORDER BY id\";\nreturn msg;",
        "outputs": 1,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "assignment_get_by_status_query"
            ]
        ]
    },
    {
        "id": "assignment_get_by_status_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "assignment_response"
            ]
        ]
    },
    {
        "id": "assignment_post",
        "type": "http in",
        "z": "tab_assignments",
        "name": "POST /api/assignments",
        "url": "/api/assignments",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "assignment_post_prepare"
            ]
        ]
    },
    {
        "id": "assignment_post_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Insert",
        "func": "const data = msg.payload;\nmsg.queryParameters = [\n    data.refugee_id, data.shelter_id, data.assignment_date,\n    data.status || 'PENDING', data.priority_score, data.notes\n];\nmsg.payload = `INSERT INTO assignments (refugee_id, shelter_id, assignment_date, status, priority_score, notes, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "assignment_post_query"
            ]
        ]
    },
    {
        "id": "assignment_post_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Insert Assignment",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "assignment_created_response"
            ]
        ]
    },
    {
        "id": "assignment_put",
        "type": "http in",
        "z": "tab_assignments",
        "name": "PUT /api/assignments/:id",
        "url": "/api/assignments/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "assignment_put_prepare"
            ]
        ]
    },
    {
        "id": "assignment_put_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Update",
        "func": "const data = msg.payload;\nconst id = parseInt(msg.req.params.id);\nmsg.queryParameters = [\n    data.refugee_id, data.shelter_id, data.assignment_date,\n    data.status, data.priority_score, data.notes, id\n];\nmsg.payload = `UPDATE assignments SET refugee_id=$1, shelter_id=$2, assignment_date=$3, status=$4, priority_score=$5, notes=$6, updated_at=CURRENT_TIMESTAMP WHERE id=$7 RETURNING *`;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "assignment_put_query"
            ]
        ]
    },
    {
        "id": "assignment_put_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Update Assignment",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "assignment_delete",
        "type": "http in",
        "z": "tab_assignments",
        "name": "DELETE /api/assignments/:id",
        "url": "/api/assignments/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "assignment_delete_prepare"
            ]
        ]
    },
    {
        "id": "assignment_delete_prepare",
        "type": "function",
        "z": "tab_assignments",
        "name": "Prepare Delete",
        "func": "msg.queryParameters = [parseInt(msg.req.params.id)];\nmsg.payload = \"DELETE FROM assignments WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "assignment_delete_query"
            ]
        ]
    },
    {
        "id": "assignment_delete_query",
        "type": "postgresql",
        "z": "tab_assignments",
        "name": "Delete Assignment",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 600,
        "y": 500,
        "wires": [
            [
                "assignment_delete_response",
                "435d2f91358fdeb3"
            ]
        ]
    },
    {
        "id": "assignment_response",
        "type": "function",
        "z": "tab_assignments",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = msg.payload || [];\nreturn msg;",
        "outputs": 1,
        "x": 810,
        "y": 80,
        "wires": [
            [
                "assignment_http_response"
            ]
        ]
    },
    {
        "id": "assignment_created_response",
        "type": "function",
        "z": "tab_assignments",
        "name": "Format Created",
        "func": "msg.statusCode = 201;\nmsg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "assignment_http_response"
            ]
        ]
    },
    {
        "id": "assignment_delete_response",
        "type": "function",
        "z": "tab_assignments",
        "name": "Format Delete",
        "func": "msg.statusCode = 204;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 500,
        "wires": [
            [
                "assignment_http_response"
            ]
        ]
    },
    {
        "id": "assignment_http_response",
        "type": "http response",
        "z": "tab_assignments",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1020,
        "y": 720,
        "wires": []
    },
    {
        "id": "5685489b661371a8",
        "type": "debug",
        "z": "tab_assignments",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "9aafc1cfb84bc8c1",
        "type": "debug",
        "z": "tab_assignments",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 800,
        "wires": []
    },
    {
        "id": "435d2f91358fdeb3",
        "type": "debug",
        "z": "tab_assignments",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "ai_assign_shelter_endpoint",
        "type": "http in",
        "z": "tab_ai_integration",
        "name": "POST /api/ai/assign-shelter",
        "url": "/api/ai/assign-shelter",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "ai_prepare_request"
            ]
        ]
    },
    {
        "id": "ai_prepare_request",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar datos para IA",
        "func": "// Guardar datos originales del refugiado\nconst refugeeData = msg.payload;\n\n// Preparar payload para el servicio de IA\nmsg.payload = {\n    first_name: refugeeData.first_name,\n    last_name: refugeeData.last_name,\n    age: refugeeData.age,\n    gender: refugeeData.gender,\n    nationality: refugeeData.nationality,\n    languages_spoken: refugeeData.languages_spoken,\n    medical_conditions: refugeeData.medical_conditions,\n    has_disability: refugeeData.has_disability || false,\n    vulnerability_score: refugeeData.vulnerability_score || 0.0,\n    special_needs: refugeeData.special_needs,\n    family_id: refugeeData.family_id\n};\n\n// Guardar en contexto para usar después\nmsg.refugeeData = refugeeData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "ai_call_service"
            ]
        ]
    },
    {
        "id": "ai_call_service",
        "type": "http request",
        "z": "tab_ai_integration",
        "name": "Llamar servicio IA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ai-service:8000/api/assign-shelter",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 670,
        "y": 100,
        "wires": [
            [
                "ai_process_response"
            ]
        ]
    },
    {
        "id": "ai_process_response",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Procesar respuesta IA",
        "func": "// La respuesta del servicio IA contiene:\n// - shelter_id: ID del refugio asignado\n// - shelter_name: Nombre del refugio\n// - confidence_score: Confianza de la asignación\n// - priority_score: Prioridad calculada\n// - explanation: Explicación de la asignación\n\nconst aiResponse = msg.payload;\n\n// Formatear respuesta completa\nmsg.payload = {\n    shelter_id: aiResponse.shelter_id,\n    shelter_name: aiResponse.shelter_name,\n    confidence_score: aiResponse.confidence_score,\n    priority_score: aiResponse.priority_score,\n    explanation: aiResponse.explanation,\n    alternative_shelters: aiResponse.alternative_shelters || []\n};\n\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "ai_http_response"
            ]
        ]
    },
    {
        "id": "ai_http_response",
        "type": "http response",
        "z": "tab_ai_integration",
        "name": "Respuesta HTTP",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 100,
        "wires": []
    },
    {
        "id": "refugee_post_with_ai",
        "type": "http in",
        "z": "tab_ai_integration",
        "name": "POST /api/refugees-with-assignment",
        "url": "/api/refugees-with-assignment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "save_refugee_first"
            ]
        ]
    },
    {
        "id": "save_refugee_first",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar INSERT refugiado",
        "func": "const data = msg.payload;\n\n// Guardar datos completos para después\nflow.set('tempRefugeeData', data);\n\nmsg.topic = `INSERT INTO refugees (first_name, last_name, age, gender, nationality, languages_spoken, family_id, medical_conditions, has_disability, special_needs, vulnerability_score, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\n\nmsg.params = [\n    data.first_name, \n    data.last_name, \n    data.age, \n    data.gender,\n    data.nationality, \n    data.languages_spoken, \n    data.family_id,\n    data.medical_conditions,\n    data.has_disability || false,\n    data.special_needs, \n    data.vulnerability_score || 0\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "insert_refugee_db"
            ]
        ]
    },
    {
        "id": "insert_refugee_db",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Guardar refugiado",
        "query": "{{msg.topic}}",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "prepare_ai_call"
            ]
        ]
    },
    {
        "id": "prepare_ai_call",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Guardar refugiado para contexto",
        "func": "// El refugiado ya está guardado en la BD\nconst savedRefugee = msg.payload[0];\n\n// Guardar refugiado para la respuesta final\nflow.set('savedRefugee', savedRefugee);\n\n// IMPORTANTE: Limpiar params para la siguiente consulta\ndelete msg.params;\ndelete msg.topic;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "query_available_shelters"
            ]
        ]
    },
    {
        "id": "query_available_shelters",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Obtener refugios disponibles",
        "query": "SELECT id, name, max_capacity, current_occupancy, has_medical_facilities, has_childcare, has_disability_access, languages_spoken FROM shelters WHERE current_occupancy < max_capacity ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "prepare_ai_request"
            ]
        ]
    },
    {
        "id": "prepare_ai_request",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar request para IA",
        "func": "const savedRefugee = flow.get('savedRefugee');\nconst availableShelters = msg.payload;\n\n// Verificar que hay refugios disponibles\nif (!availableShelters || availableShelters.length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"No hay refugios disponibles en este momento\" };\n    return msg;\n}\n\n// Preparar payload para el servicio de IA\nmsg.payload = {\n    refugee: {\n        first_name: savedRefugee.first_name,\n        last_name: savedRefugee.last_name,\n        age: savedRefugee.age,\n        gender: savedRefugee.gender,\n        nationality: savedRefugee.nationality,\n        languages_spoken: savedRefugee.languages_spoken,\n        medical_conditions: savedRefugee.medical_conditions,\n        has_disability: savedRefugee.has_disability,\n        vulnerability_score: savedRefugee.vulnerability_score,\n        special_needs: savedRefugee.special_needs,\n        family_id: savedRefugee.family_id\n    },\n    available_shelters: availableShelters\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "call_ai_for_assignment"
            ]
        ]
    },
    {
        "id": "call_ai_for_assignment",
        "type": "http request",
        "z": "tab_ai_integration",
        "name": "Obtener asignación IA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ai-service:8000/api/assign-shelter",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "create_assignment"
            ]
        ]
    },
    {
        "id": "create_assignment",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Crear asignación en BD",
        "func": "const aiResponse = msg.payload;\nconst savedRefugee = flow.get('savedRefugee');\n\n// Preparar INSERT de la asignación\nmsg.topic = `INSERT INTO assignments (refugee_id, shelter_id, assigned_at, status, priority_score, explanation, assigned_by, created_at, updated_at) VALUES ($1, $2, CURRENT_TIMESTAMP, $3, $4, $5, $6, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\n\nmsg.params = [\n    savedRefugee.id,\n    aiResponse.shelter_id,\n    'pending',\n    aiResponse.priority_score,\n    aiResponse.explanation,\n    'AI-System'\n];\n\n// Guardar respuesta IA para después\nflow.set('aiResponse', aiResponse);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 340,
        "wires": [
            [
                "insert_assignment_db"
            ]
        ]
    },
    {
        "id": "insert_assignment_db",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Guardar asignación",
        "query": "{{msg.topic}}",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "format_final_response"
            ]
        ]
    },
    {
        "id": "format_final_response",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Formatear respuesta final",
        "func": "const savedRefugee = flow.get('savedRefugee');\nconst aiResponse = flow.get('aiResponse');\nconst assignment = msg.payload[0];\n\n// Respuesta completa\nmsg.payload = {\n    refugee: savedRefugee,\n    assignment: {\n        id: assignment.id,\n        shelter_id: aiResponse.shelter_id,\n        shelter_name: aiResponse.shelter_name,\n        priority_score: aiResponse.priority_score,\n        confidence_score: aiResponse.confidence_score,\n        explanation: aiResponse.explanation,\n        status: assignment.status,\n        assigned_at: assignment.assigned_at\n    },\n    alternative_shelters: aiResponse.alternative_shelters || []\n};\n\nmsg.statusCode = 201;\n\n// Limpiar variables de flujo\nflow.set('tempRefugeeData', null);\nflow.set('savedRefugee', null);\nflow.set('aiResponse', null);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "final_http_response"
            ]
        ]
    },
    {
        "id": "final_http_response",
        "type": "http response",
        "z": "tab_ai_integration",
        "name": "Respuesta HTTP",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 340,
        "wires": []
    }
]