backend/api-service/node-red-data/ai-integration-flows.json
[
    {
        "id": "tab_ai_integration",
        "type": "tab",
        "label": "AI Integration",
        "disabled": false,
        "info": "Integración con el servicio de IA para asignación automática de refugios"
    },
    {
        "id": "ai_assign_shelter_endpoint",
        "type": "http in",
        "z": "tab_ai_integration",
        "name": "POST /api/ai/assign-shelter",
        "url": "/api/ai/assign-shelter",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "ai_prepare_request"
            ]
        ]
    },
    {
        "id": "ai_prepare_request",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar datos para IA",
        "func": "// Guardar datos originales del refugiado\nconst refugeeData = msg.payload;\n\n// Preparar payload para el servicio de IA\nmsg.payload = {\n    first_name: refugeeData.first_name,\n    last_name: refugeeData.last_name,\n    age: refugeeData.age,\n    gender: refugeeData.gender,\n    nationality: refugeeData.nationality,\n    languages_spoken: refugeeData.languages_spoken,\n    medical_conditions: refugeeData.medical_conditions,\n    has_disability: refugeeData.has_disability || false,\n    vulnerability_score: refugeeData.vulnerability_score || 0.0,\n    special_needs: refugeeData.special_needs,\n    family_id: refugeeData.family_id\n};\n\n// Guardar en contexto para usar después\nmsg.refugeeData = refugeeData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "ai_call_service"
            ]
        ]
    },
    {
        "id": "ai_call_service",
        "type": "http request",
        "z": "tab_ai_integration",
        "name": "Llamar servicio IA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ai-service:8000/api/assign-shelter",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 670,
        "y": 100,
        "wires": [
            [
                "ai_process_response"
            ]
        ]
    },
    {
        "id": "ai_process_response",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Procesar respuesta IA",
        "func": "// La respuesta del servicio IA contiene:\n// - shelter_id: ID del refugio asignado\n// - shelter_name: Nombre del refugio\n// - confidence_score: Confianza de la asignación\n// - priority_score: Prioridad calculada\n// - explanation: Explicación de la asignación\n\nconst aiResponse = msg.payload;\n\n// Formatear respuesta completa\nmsg.payload = {\n    shelter_id: aiResponse.shelter_id,\n    shelter_name: aiResponse.shelter_name,\n    confidence_score: aiResponse.confidence_score,\n    priority_score: aiResponse.priority_score,\n    explanation: aiResponse.explanation,\n    alternative_shelters: aiResponse.alternative_shelters || []\n};\n\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "ai_http_response"
            ]
        ]
    },
    {
        "id": "ai_http_response",
        "type": "http response",
        "z": "tab_ai_integration",
        "name": "Respuesta HTTP",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "refugee_post_with_ai",
        "type": "http in",
        "z": "tab_ai_integration",
        "name": "POST /api/refugees-with-assignment",
        "url": "/api/refugees-with-assignment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "save_refugee_first"
            ]
        ]
    },
    {
        "id": "save_refugee_first",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar INSERT refugiado",
        "func": "const data = msg.payload;\n\n// Guardar datos completos para después\nflow.set('tempRefugeeData', data);\n\nmsg.topic = `INSERT INTO refugees (first_name, last_name, age, gender, nationality, languages_spoken, family_id, medical_conditions, has_disability, special_needs, vulnerability_score, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\n\nmsg.params = [\n    data.first_name, \n    data.last_name, \n    data.age, \n    data.gender,\n    data.nationality, \n    data.languages_spoken, \n    data.family_id,\n    data.medical_conditions,\n    data.has_disability || false,\n    data.special_needs, \n    data.vulnerability_score || 0\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "insert_refugee_db"
            ]
        ]
    },
    {
        "id": "insert_refugee_db",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Guardar refugiado",
        "query": "{{msg.topic}}",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "prepare_ai_call"
            ]
        ]
    },
    {
        "id": "prepare_ai_call",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Guardar refugiado para contexto",
        "func": "// El refugiado ya está guardado en la BD\nconst savedRefugee = msg.payload[0];\n\n// Guardar refugiado para la respuesta final\nflow.set('savedRefugee', savedRefugee);\n\n// IMPORTANTE: Limpiar params para la siguiente consulta\ndelete msg.params;\ndelete msg.topic;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 240,
        "wires": [
            [
                "query_available_shelters"
            ]
        ]
    },
    {
        "id": "query_available_shelters",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Obtener refugios disponibles",
        "query": "SELECT id, name, max_capacity, current_occupancy, has_medical_facilities, has_childcare, has_disability_access, languages_spoken FROM shelters WHERE current_occupancy < max_capacity ORDER BY id",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "prepare_ai_request"
            ]
        ]
    },
    {
        "id": "prepare_ai_request",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar request para IA",
        "func": "const savedRefugee = flow.get('savedRefugee');\nconst availableShelters = msg.payload;\n\n// Verificar que hay refugios disponibles\nif (!availableShelters || availableShelters.length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"No hay refugios disponibles en este momento\" };\n    return msg;\n}\n\n// Preparar payload para el servicio de IA\nmsg.payload = {\n    refugee: {\n        first_name: savedRefugee.first_name,\n        last_name: savedRefugee.last_name,\n        age: savedRefugee.age,\n        gender: savedRefugee.gender,\n        nationality: savedRefugee.nationality,\n        languages_spoken: savedRefugee.languages_spoken,\n        medical_conditions: savedRefugee.medical_conditions,\n        has_disability: savedRefugee.has_disability,\n        vulnerability_score: savedRefugee.vulnerability_score,\n        special_needs: savedRefugee.special_needs,\n        family_id: savedRefugee.family_id\n    },\n    available_shelters: availableShelters\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "call_ai_for_assignment"
            ]
        ]
    },
    {
        "id": "call_ai_for_assignment",
        "type": "http request",
        "z": "tab_ai_integration",
        "name": "Obtener asignación IA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ai-service:8000/api/assign-shelter",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 180,
        "y": 340,
        "wires": [
            [
                "create_assignment"
            ]
        ]
    },
    {
        "id": "create_assignment",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Crear asignación en BD",
        "func": "const aiResponse = msg.payload;\nconst savedRefugee = flow.get('savedRefugee');\n\n// Preparar INSERT de la asignación\nmsg.topic = `INSERT INTO assignments (refugee_id, shelter_id, assigned_at, status, priority_score, explanation, assigned_by, created_at, updated_at) VALUES ($1, $2, CURRENT_TIMESTAMP, $3, $4, $5, $6, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING *`;\n\nmsg.params = [\n    savedRefugee.id,\n    aiResponse.shelter_id,\n    'pending',\n    aiResponse.priority_score,\n    aiResponse.explanation,\n    'AI-System'\n];\n\n// Guardar respuesta IA para después\nflow.set('aiResponse', aiResponse);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "insert_assignment_db"
            ]
        ]
    },
    {
        "id": "insert_assignment_db",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Guardar asignación",
        "query": "{{msg.topic}}",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "format_final_response"
            ]
        ]
    },
    {
        "id": "format_final_response",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Formatear respuesta final",
        "func": "const savedRefugee = flow.get('savedRefugee');\nconst aiResponse = flow.get('aiResponse');\nconst assignment = msg.payload[0];\n\n// Respuesta completa\nmsg.payload = {\n    refugee: savedRefugee,\n    assignment: {\n        id: assignment.id,\n        shelter_id: aiResponse.shelter_id,\n        shelter_name: aiResponse.shelter_name,\n        priority_score: aiResponse.priority_score,\n        confidence_score: aiResponse.confidence_score,\n        explanation: aiResponse.explanation,\n        status: assignment.status,\n        assigned_at: assignment.assigned_at\n    },\n    alternative_shelters: aiResponse.alternative_shelters || []\n};\n\nmsg.statusCode = 201;\n\n// Limpiar variables de flujo\nflow.set('tempRefugeeData', null);\nflow.set('savedRefugee', null);\nflow.set('aiResponse', null);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "final_http_response"
            ]
        ]
    },
    {
        "id": "final_http_response",
        "type": "http response",
        "z": "tab_ai_integration",
        "name": "Respuesta HTTP",
        "statusCode": "",
        "headers": {},
        "x": 1140,
        "y": 340,
        "wires": []
    }
]
