backend/api-service/node-red-data/integration-flows.json
[
    {
        "id": "tab_ai_integration",
        "type": "tab",
        "label": "AI Integration",
        "disabled": false,
        "info": "Integración con servicios de IA"
    },
    {
        "id": "tab_simulation",
        "type": "tab",
        "label": "Simulation Integration",
        "disabled": false,
        "info": "Integración con simulador de eventos"
    },
    {
        "id": "ai_predict_vulnerability_in",
        "type": "http in",
        "z": "tab_ai_integration",
        "name": "POST /api/ai/predict/vulnerability",
        "url": "/api/ai/predict/vulnerability",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 80,
        "wires": [["ai_predict_vulnerability_prepare"]]
    },
    {
        "id": "ai_predict_vulnerability_prepare",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar Request IA",
        "func": "msg.payload = {\n    age: msg.payload.age,\n    gender: msg.payload.gender,\n    has_medical_conditions: msg.payload.has_medical_conditions || false,\n    family_size: msg.payload.family_size || 1,\n    education_level: msg.payload.education_level || \"UNKNOWN\"\n};\n\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 80,
        "wires": [["ai_predict_vulnerability_request"]]
    },
    {
        "id": "ai_predict_vulnerability_request",
        "type": "http request",
        "z": "tab_ai_integration",
        "name": "Llamar Servicio IA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://shelterai-ai:5000/predict/vulnerability",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 720,
        "y": 80,
        "wires": [["ai_predict_vulnerability_format"]]
    },
    {
        "id": "ai_predict_vulnerability_format",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Formatear Respuesta",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    vulnerability_score: msg.payload.score || 0,\n    risk_level: msg.payload.risk_level || \"UNKNOWN\",\n    recommendations: msg.payload.recommendations || []\n};\nreturn msg;",
        "outputs": 1,
        "x": 960,
        "y": 80,
        "wires": [["ai_http_response"]]
    },
    {
        "id": "ai_predict_assignment_in",
        "type": "http in",
        "z": "tab_ai_integration",
        "name": "POST /api/ai/predict/assignment",
        "url": "/api/ai/predict/assignment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [["ai_predict_assignment_get_refugee"]]
    },
    {
        "id": "ai_predict_assignment_get_refugee",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Obtener Datos Refugiado",
        "func": "const refugeeId = msg.payload.refugee_id;\nmsg.refugeeId = refugeeId;\nmsg.requirements = msg.payload.requirements;\n\nmsg.queryParameters = [refugeeId];\nmsg.payload = \"SELECT * FROM refugees WHERE id = $1\";\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 160,
        "wires": [["ai_predict_assignment_query"]]
    },
    {
        "id": "ai_predict_assignment_query",
        "type": "postgresql",
        "z": "tab_ai_integration",
        "name": "Query Refugee",
        "query": "",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 720,
        "y": 160,
        "wires": [["ai_predict_assignment_prepare"]]
    },
    {
        "id": "ai_predict_assignment_prepare",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Preparar Request IA",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Refugee not found\" };\n    return [null, msg];\n}\n\nconst refugee = msg.payload[0];\n\nmsg.payload = {\n    refugee: {\n        age: refugee.age,\n        medical_conditions: refugee.medical_conditions,\n        special_needs: refugee.special_needs,\n        vulnerability_score: refugee.vulnerability_score,\n        family_id: refugee.family_id\n    },\n    requirements: msg.requirements\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "x": 960,
        "y": 160,
        "wires": [["ai_predict_assignment_request"], ["ai_http_response"]]
    },
    {
        "id": "ai_predict_assignment_request",
        "type": "http request",
        "z": "tab_ai_integration",
        "name": "Llamar Servicio IA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://shelterai-ai:5000/predict/assignment",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1220,
        "y": 140,
        "wires": [["ai_http_response"]]
    },
    {
        "id": "ai_http_response",
        "type": "http response",
        "z": "tab_ai_integration",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "ai_catch",
        "type": "catch",
        "z": "tab_ai_integration",
        "name": "Error Handler",
        "scope": null,
        "uncaught": false,
        "x": 960,
        "y": 260,
        "wires": [["ai_error_format"]]
    },
    {
        "id": "ai_error_format",
        "type": "function",
        "z": "tab_ai_integration",
        "name": "Format Error",
        "func": "msg.statusCode = 500;\nmsg.payload = {\n    error: \"Error comunicándose con el servicio de IA\",\n    message: msg.error.message\n};\nreturn msg;",
        "outputs": 1,
        "x": 1140,
        "y": 260,
        "wires": [["ai_http_response"]]
    },
    {
        "id": "sim_data_in",
        "type": "http in",
        "z": "tab_simulation",
        "name": "POST /api/simulation/data",
        "url": "/api/simulation/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [["sim_data_validate"]]
    },
    {
        "id": "sim_data_validate",
        "type": "function",
        "z": "tab_simulation",
        "name": "Validar Datos",
        "func": "const data = msg.payload;\n\nif (!data.event_type || !data.timestamp) {\n    msg.statusCode = 400;\n    msg.payload = {\n        error: \"Missing required fields: event_type, timestamp\"\n    };\n    return [null, msg];\n}\n\nglobal.set('last_simulation_event', data);\n\nmsg.statusCode = 200;\nmsg.payload = {\n    status: \"received\",\n    processed: true,\n    message: \"Datos del simulador procesados correctamente\"\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "x": 450,
        "y": 80,
        "wires": [["sim_http_response"], ["sim_http_response"]]
    },
    {
        "id": "sim_status_in",
        "type": "http in",
        "z": "tab_simulation",
        "name": "GET /api/simulation/status",
        "url": "/api/simulation/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [["sim_status_query"]]
    },
    {
        "id": "sim_status_query",
        "type": "postgresql",
        "z": "tab_simulation",
        "name": "Query Stats",
        "query": "SELECT COUNT(*) as total_shelters, SUM(max_capacity) as total_capacity, SUM(current_occupancy) as current_occupancy, SUM(max_capacity - current_occupancy) as available_spaces FROM shelters",
        "postgreSQLConfig": "301245f94e1239d9",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 430,
        "y": 160,
        "wires": [["sim_status_format"]]
    },
    {
        "id": "sim_status_format",
        "type": "function",
        "z": "tab_simulation",
        "name": "Formatear Estado",
        "func": "const stats = msg.payload[0];\n\nmsg.statusCode = 200;\nmsg.payload = {\n    total_shelters: parseInt(stats.total_shelters) || 0,\n    total_capacity: parseInt(stats.total_capacity) || 0,\n    current_occupancy: parseInt(stats.current_occupancy) || 0,\n    available_spaces: parseInt(stats.available_spaces) || 0,\n    refugees_pending_assignment: 0\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 650,
        "y": 160,
        "wires": [["sim_http_response"]]
    },
    {
        "id": "sim_http_response",
        "type": "http response",
        "z": "tab_simulation",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 120,
        "wires": []
    }
]
